/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        Spaces_Ctrl: Spaces_Ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACES_CTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        Gravesigntilde: Gravesigntilde {
            compatible = "zmk,behavior-tap-dance";
            label = "GRAVESIGNTILDE";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TILDE>;
        };

        Clipboard_Modlayer1: Clipboard_Modlayer1 {
            compatible = "zmk,behavior-tap-dance";
            label = "CLIPBOARD_MODLAYER1";
            #binding-cells = <0>;
            bindings = <&none>, <&Clipboard>;
        };

        New_Refresh: New_Refresh {
            compatible = "zmk,behavior-tap-dance";
            label = "NEW_REFRESH";
            #binding-cells = <0>;
            bindings = <&NewPatient>, <&none>;
        };

        Default_ViewAll: Default_ViewAll {
            compatible = "zmk,behavior-tap-dance";
            label = "DEFAULT_VIEWALL";
            #binding-cells = <0>;
            bindings = <&ViewAll>, <&DefaultView>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Mute {
            bindings = <&kp K_MUTE>;
            key-positions = <56 57>;
        };

        Refresh {
            bindings = <&kp F5>;
            key-positions = <4 5>;
        };
    };

    macros {
        Clipboard: Clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp V>,
                <&macro_release>,
                <&kp LEFT_WIN &kp V>,
                <&macro_press>;

            label = "CLIPBOARD";
        };

        NewPatient: NewPatient {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp F>,
                <&macro_release>,
                <&kp LEFT_ALT &kp F>,
                <&macro_tap>,
                <&kp N>;

            label = "NEWPATIENT";
        };

        Refresh: Refresh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp F>,
                <&macro_release>,
                <&kp LEFT_ALT &kp F>,
                <&macro_tap>,
                <&kp I>;

            label = "REFRESH";
        };

        ViewAll: ViewAll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp V>,
                <&macro_release>,
                <&kp LEFT_ALT &kp V>,
                <&macro_tap>,
                <&kp A>;

            label = "VIEWALL";
        };

        DefaultView: DefaultView {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp V>,
                <&macro_release>,
                <&kp LEFT_ALT &kp V>,
                <&macro_tap>,
                <&kp F>;

            label = "DEFAULTVIEW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Layer-0 {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3         &kp N4    &kp N5                                                           &kp N6  &kp N7        &kp N8           &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E          &kp R     &kp T                                                            &kp Y   &kp U         &kp I            &kp O    &kp P     &kp ENTER
&mo 2      &kp A   &kp S   &kp D          &kp F     &kp G                                                            &kp H   &kp J         &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C          &kp V     &kp B                 &kp LEFT_ALT                &kp RIGHT_ALT  &kp N   &kp M         &kp COMMA        &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LEFT_META  &kp LGUI  &Clipboard_Modlayer1  &Spaces_Ctrl LCTRL SPACE    &kp RET        &mo 2   &kp C_VOL_DN  &kp C_VOLUME_UP
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Layer-1 {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&Gravesigntilde  &none         &none             &none   &none   &none                     &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp FSLH  &kt BACKSPACE
&none            &New_Refresh  &Default_ViewAll  &none   &none   &none                     &none   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none     &none
&none            &none         &none             &none   &none   &none                     &none   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none     &none
&trans           &trans        &trans            &trans  &trans  &trans  &trans    &trans  &trans  &kp KP_NUMBER_0  &none            &kp PERIOD       &none     &none
                                                 &trans  &trans  &trans  &trans    &trans  &trans  &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&none      &none   &none   &none    &none    &none                        &kp KP_NUMLOCK  &none      &none      &none     &none      &none
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                       &kp N6          &kp N7     &kp N8     &kp N9    &kp N0     &none
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                       &none           &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &none
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &none        &none  &kp KP_PLUS     &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                           &none    &none    &none    &kp SPACE    &none  &none           &none      &none
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
