/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        Spaces_Ctrl: Spaces_Ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACES_CTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        Gravesigntilde: Gravesigntilde {
            compatible = "zmk,behavior-tap-dance";
            label = "GRAVESIGNTILDE";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TILDE>;
        };

        New_Refresh: New_Refresh {
            compatible = "zmk,behavior-tap-dance";
            label = "NEW_REFRESH";
            #binding-cells = <0>;
            bindings = <&NewPatient>, <&Refresh>;
        };

        Default_ViewAll: Default_ViewAll {
            compatible = "zmk,behavior-tap-dance";
            label = "DEFAULT_VIEWALL";
            #binding-cells = <0>;
            bindings = <&ViewAll>, <&DefaultView>;
        };

        CTB: CTB {
            compatible = "zmk,behavior-tap-dance";
            label = "CTB";
            #binding-cells = <0>;
            bindings = <&CPRS_CTB>, <&CTM_Comments>;
        };

        Note_Cons_Orders: Note_Cons_Orders {
            compatible = "zmk,behavior-tap-dance";
            label = "NOTE_CONS_ORDERS";
            #binding-cells = <0>;
            bindings = <&CPRS_Notes>, <&CRPS_Cons>, <&CPRS_Orders>;
        };

        Win1andWin2: Win1andWin2 {
            compatible = "zmk,behavior-tap-dance";
            label = "WIN1ANDWIN2";
            #binding-cells = <0>;
            bindings = <&Win_1>, <&Win_2>;
        };

        Game_Zero: Game_Zero {
            compatible = "zmk,behavior-tap-dance";
            label = "GAME_ZERO";
            #binding-cells = <0>;
            bindings = <&to 4>, <&to 0>;
        };

        Three_Zero: Three_Zero {
            compatible = "zmk,behavior-tap-dance";
            label = "THREE_ZERO";
            #binding-cells = <0>;
            bindings = <&to 3>, <&to 0>;
        };

        Clipboard_Modlayer1: Clipboard_Modlayer1 {
            compatible = "zmk,behavior-hold-tap";
            label = "CLIPBOARD_MODLAYER1";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Refresh {
            bindings = <&kp F5>;
            key-positions = <4 5>;
        };

        Inventory {
            bindings = <&kp I>;
            key-positions = <28 29>;
        };

        Map {
            bindings = <&kp M>;
            key-positions = <40 41>;
        };
    };

    macros {
        Clipboard: Clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp V>,
                <&macro_release>,
                <&kp LEFT_WIN &kp V>;

            label = "CLIPBOARD";
        };

        NewPatient: NewPatient {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp F>,
                <&macro_release>,
                <&kp LEFT_ALT &kp F>,
                <&macro_press>,
                <&kp N>,
                <&macro_release>,
                <&kp N>;

            label = "NEWPATIENT";
        };

        Refresh: Refresh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp F>,
                <&macro_release>,
                <&kp LEFT_ALT &kp F>,
                <&macro_press>,
                <&kp I>,
                <&macro_release>,
                <&kp I>;

            label = "REFRESH";
        };

        ViewAll: ViewAll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp V>,
                <&macro_release>,
                <&kp LEFT_ALT &kp V>,
                <&macro_press>,
                <&kp A>,
                <&macro_release>,
                <&kp A>;

            label = "VIEWALL";
        };

        DefaultView: DefaultView {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp V>,
                <&macro_release>,
                <&kp LEFT_ALT &kp V>,
                <&macro_press>,
                <&kp F>,
                <&macro_release>,
                <&kp F>;

            label = "DEFAULTVIEW";
        };

        CPRS_CTB: CPRS_CTB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp A>,
                <&macro_release>,
                <&kp LEFT_ALT &kp A>,
                <&macro_press>,
                <&kp C>,
                <&macro_release>,
                <&kp C>,
                <&macro_press>,
                <&kp A>,
                <&macro_release>,
                <&kp A>;

            label = "CPRS_CTB";
        };

        CTM_Comments: CTM_Comments {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT &kp KP_NUMBER_1>;

            label = "CTM_COMMENTS";
        };

        PIV: PIV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N2 &kp N9 &kp N9 &kp N6 &kp N9>;
            label = "PIV";
        };

        E_Sign: E_Sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp LS(V) &kp LS(A) &kp LS(L) &kp LS(D) &kp LS(E) &kp LS(Z) &kp N1>;
            label = "E_SIGN";
        };

        CPRS_Notes: CPRS_Notes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp O>,
                <&macro_release>,
                <&kp LEFT_ALT &kp O>;

            label = "CPRS_NOTES";
        };

        CRPS_Cons: CRPS_Cons {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp T>,
                <&macro_release>,
                <&kp LEFT_ALT &kp T>;

            label = "CRPS_CONS";
        };

        CPRS_Orders: CPRS_Orders {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp O>,
                <&macro_release>,
                <&kp LEFT_ALT &kp O>;

            label = "CPRS_ORDERS";
        };

        Win_1: Win_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_WIN &kp NUMBER_1>;

            label = "WIN_1";
        };

        Win_2: Win_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_WIN &kp NUMBER_2>;

            label = "WIN_2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Zero {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Work";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3         &kp N4       &kp N5                                             &kp N6      &kp N7        &kp N8           &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E          &kp R        &kp T                                              &kp Y       &kp U         &kp I            &kp O    &kp P     &kp ENTER
&mo 2      &kp A   &kp S   &kp D          &kp F        &kp G                                              &kp H       &kp J         &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C          &kp V        &kp B   &kp LEFT_ALT                &kp RIGHT_ALT  &kp N       &kp M         &kp COMMA        &kp DOT  &kp FSLH  &Game_Zero
                           &kp LEFT_META  &Three_Zero  &mo 1   &Spaces_Ctrl LCTRL SPACE    &mo 1          &kp K_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP
            >;
        };

        One {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Numpad";
            bindings = <
&Gravesigntilde  &none         &none             &none         &none              &none                            &none           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp FSLH   &kt BACKSPACE
&none            &New_Refresh  &Default_ViewAll  &CTB          &Note_Cons_Orders  &none                            &none           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS  &kp ENTER
&kp LSHFT        &none         &none             &Win1andWin2  &kp SPACE          &none                            &none           &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none      &none
&none            &none         &none             &none         &none              &none  &bt BT_PRV    &bt BT_NXT  &none           &kp KP_NUMBER_0  &kp UP_ARROW     &kp PERIOD       &PIV       &E_Sign
                                                 &none         &none              &none  &kp SPACE     &none       &kp LEFT_ARROW  &kp DOWN         &kp RIGHT
            >;
        };

        Two {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Directions";
            bindings = <
&none  &none     &none           &none      &none  &kp INSERT                      &kp KP_NUMLOCK  &none     &none           &none      &kp MINUS         &kp EQUAL
&none  &none     &kp UP_ARROW    &none      &none  &none                           &kp PG_UP       &none     &none           &none      &none             &kp NON_US_BACKSLASH
&none  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &none  &none                           &kp PAGE_DOWN   &none     &kp UP_ARROW    &none      &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&none  &none     &none           &none      &none  &none       &none        &none  &none           &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &none             &none
                                 &none      &none  &none       &kp SPACE    &none  &none           &none     &none
            >;
        };

        Three {
            display-name = "Func Keys";
            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4       &kp F5                                        &kp F6  &kp F7    &kp F8        &kp F9     &kp F10  &kp F11
&none      &none   &none   &none   &none        &bt BT_CLR_ALL                                &trans  &trans    &kp UP_ARROW  &trans     &trans   &kp F12
&trans     &trans  &trans  &trans  &trans       &bt BT_CLR                                    &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &none    &none
&trans     &trans  &trans  &trans  &trans       &trans          &bt BT_SEL 0    &bt BT_SEL 1  &trans  &trans    &kp SPACE     &trans     &trans   &Game_Zero
                           &trans  &Three_Zero  &trans          &kp SPACE       &kp RCTRL     &trans  &trans    &trans
            >;
        };

        Four {
            display-name = "Gaming";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3         &kp N4       &kp N5                                    &kp N6      &kp N7        &kp N8           &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E          &kp R        &kp T                                     &kp Y       &kp U         &kp I            &kp O    &kp P     &kp ENTER
&mo 1      &kp A   &kp S   &kp D          &kp F        &kp G                                     &kp H       &kp J         &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C          &kp V        &kp B      &kp LEFT_ALT    &kp RIGHT_ALT  &kp N       &kp M         &kp COMMA        &kp DOT  &kp FSLH  &Game_Zero
                           &kp LEFT_META  &Three_Zero  &kp LCTRL  &kp LCTRL       &mo 2          &kp K_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP
            >;
        };
    };
};
